<div class="graph-container margin-bottom">
    <div class="graph-content">
        <h3>Body Mass Index:</h3>

        <div class="row">
            <div class="small-6 columns">
                <label for="height">Height:</label>
                <p id="height" ng-bind="profile.feet + ' ft ' + profile.inches + ' in'"></p>
                <label for="weight">Weight:</label>
                <input id="weight" class="form-control" ng-model="profile.weight" />
                <br />
                <button class="button" ng-click="calculateBMI(profile.weight)">Update</button>
            </div>

            <div class="small-3 small-offset-3 columns">
                <div class="bmi-graph">
                    <div class="indicators">
                        <div class="obese">Obese</div>
                        <div class="healthy">Healthly</div>
                        <div class="underweight">Low</div>
                    </div>
                    <div class="bmi-slider" id="BMI">{{profile.BMI | number:1}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 small-centered columns bmi-info">
            <p><span class="drop-char">BMI</span> "provides a simple numeric measure of a person's thickness or thinness, allowing health professionals to discuss overweight and underweight problems more objectively with their patients. It is meant to be used as a simple means of classifying sedentary individuals."</p>
        </div>
    </div>
</div>

