<div class="small-12 medium-6 small-centered columns" ng-show="!reg">
    <nav class="tab-bar">
        <section class="middle tab-bar-section">
            <h1 class="title">Log in</h1>
        </section>
    </nav>
    <div class="small-8 small-centered columns">
        <div class="panel">
            <p class="panel-info">
                Click here to:
                <b ng-show="!reg" class="breadcrumb" ng-click="showRegistration()">Register</b>
            </p>
        </div>
    </div>
    <form name="loginForm" class="form-horizontal" ng-submit="logMeIn()">
        <label for="username">Username:</label>
        <input class="form-control" id="username" ng-model="username" />

        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" ng-model="password" />

        <button ng-disabled="loginForm.$invalid" class="button expand" type="submit">Log In</button>
    </form>
</div>

<div class="small-12 medium-6 small-centered columns" ng-show="reg">
    <nav class="tab-bar">
        <section class="middle tab-bar-section">
            <h1 class="title">Register</h1>
        </section>
    </nav>
    <div class="small-8 small-centered columns">
        <div class="panel">
            <p class="panel-info">
                Click here to:
                <b class="breadcrumb" ng-show="reg" ng-click="showRegistration()">Sign in</b>
            </p>
        </div>
    </div>
    <form name="registerForm" class="form-horizontal" ng-submit="register()">
        <label for="registerUsername">Username:</label>
        <input class="form-control" id="registerUsername" ng-model="registerUsername" required />

        <label for="registerPassword">Password:</label>
        <input class="form-control" type="password" id="registerPassword" ng-model="registerPassword" required />

        <label for="repeatPassword">Verify Password:</label>
        <input class="form-control" type="password" id="repeatPassword" ng-model="repeatPassword" required />

        <button ng-disabled="loginForm.$invalid" class="button expand" type="submit">Register</button>
    </form>
</div>