<div class="small-10 small-centered columns">
    <h3 class="">New Event</h3>
    <form id="addEvent" name="addEventForm" ng-submit="addEvent(event)">

        <label for="title">Title:</label>
        <input class="form-control" type="text" ng-model="event.title" id="title" placeholder="Title" required />

        <label for="start">Event Start</label>
        <input class="form-control" type="date" ng-model="event.start" id="start" />

        <label for="notes">Notes</label>
        <textarea class="form-control" type="text" ng-model="event.notes" id="notes" rows="4"></textarea>

        <div class="button-bar">
            <ul class="button-group">
                <li><button class="button" type="submit" id="submit"> Add Event</button></li>
                <li><button class="button [secondary alert success]" ng-click="cancel()">Cancel</button></li>
            </ul>
        </div>
    </form>
</div>