<div>
    <form class="small-12 small-centered columns">

        <div class="row form-group">
            <div class="small-4 columns">
                <label class="right inline">Date of Birth:</label>
            </div>
            <div class="small-8 columns end input-group" ng-show="edit">
                <input class="form-control" type="date" ng-model="profile.dob" placeholder="MM/DD/YYYY" required/>
            </div>
            <div class="small-8 columns end form-control-static" ng-show="!edit">{{profile.dob | date}}</div>
        </div>

        <div class="row form-group">
            <div class="small-4 columns">
                <label class="right inline">Age:</label>
            </div>
            <div class="small-8 columns end input-group" ng-show="edit">
                {{profile.age}}
            </div>
            <div class="small-8 columns end form-control-static" ng-show="!edit">{{profile.age}}</div>
        </div>

        <div class="row form-group">
            <div class="small-4 columns">
                <label class="right inline">Height:</label>
            </div>
            <div class="small-8 columns end input-group" ng-show="edit">
                <div class="form-inline">
                    <div class="input-group">
                        <input class="form-control" ng-model="profile.feet" placeholder="Feet" />
                        <span class="input-group-addon">ft</span>
                        <input class="form-control" ng-model="profile.inches" placeholder="Inches" />
                        <span class="input-group-addon">in</span>
                    </div>
                </div>
            </div>
            <div class="small-8 columns end form-control-static" ng-show="!edit">{{profile.feet}}ft {{profile.inches}}in</div>
        </div>

        <div class="row form-group">
            <div class="small-4 columns">
                <label class="right inline">Weight:</label>
            </div>
            <div class="small-8 columns end input-group" ng-show="edit">
                <input class="form-control" ng-model="profile.weight" placeholder="Weight in Pounds" />
                <span class="input-group-addon">Pounds</span>
            </div>
            <div class="small-8 columns end form-control-static" ng-show="!edit">{{profile.weight}} lbs</div>
        </div>

        <div class="row form-group">
            <div class="small-4 columns">
                <label class="right inline">Blood Type:</label>
            </div>
            <div class="small-8 columns end" ng-show="edit">
                <select class="form-control" ng-model="profile.bloodType" ng-options="bloodType for bloodType in bloodTypes"></select>
            </div>
            <div class="small-8 columns end form-control-static" ng-show="!edit">{{profile.bloodType}}</div>
        </div>

        <div class="row form-group">
            <div class="small-4 columns">
                <label class="right inline">Gender:</label>
            </div>
            <div class="small-8 columns end" ng-show="edit">
                <label class="btn btn-primary btn-sm" ng-model="profile.gender" btn-radio="'Male'" uncheckable><i class="fa fa-male"></i> Male</label>
                <label class="btn btn-pink btn-sm" ng-model="profile.gender" btn-radio="'Female'" uncheckable><i class="fa fa-female"></i> Female</label>
            </div>
            <div class="small-8 columns end" ng-show="!edit">
                <label ng-class="genderBtn"><i ng-class="genderClass"></i> {{profile.gender}}</label>
            </div>
        </div>

        <div class="row">
            <div class="small-6 small-offset-3 columns">
                <div class="button-bar" ng-show="!edit">
                    <ul class="button-group">
                        <li><a class="small button" ng-click="showForm()"><i class="fa fa-edit"></i> Edit</a></li>
                        <li><a class="small button [secondary alert success]" ng-click="removeProfile()"><i class="fa fa-minus-square"></i> Remove</a></li>
                    </ul>
                </div>
                <div class="button-bar" ng-show="edit">
                    <ul class="button-group">
                        <li><a class="small button" ng-click="saveDetails()"><i class="fa fa-save"></i> Save</a></li>
                        <li><a class="small button [secondary alert success]" ng-click="showForm()"><i class="fa fa-times"></i> Cancel</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>