<div class="row">

    <div new-profile-form ng-show="showForm"></div>
    <div ng-show="!showForm">
        <div class="tab-bar">
            <section class="middle tab-bar-section">
                <h1 class="title">Active Profiles</h1>
            </section>
            <section class="right-small">
                <a class="top-bar-small-button" ui-sref="secure.logout"><i class="fi-unlock"></i></a>
            </section>
        </div>
        <div class="small-10 small-centered columns">
            <div class="profiles" ng-repeat="profile in profiles" ng-show="!profile.removed">
                <a ui-sref="secure.profile.details({userId: username.id, profileId: profile.$id})"><div class="profile"><i class="fa fa-user"></i><br />{{profile.firstName}} {{profile.lastName}}</div></a>
            </div>
            <div class="profiles">
                <a ng-click="toggleForm()"><div class="profile"><i class="fa fa-plus"></i><br />New Profile</div></a>
            </div>
        </div>

        <div class="tab-bar" >
            <section class="middle tab-bar-section">
                <h1 class="title">Inactive Profiles</h1>
            </section>
        </div>
        <div class="small-10 small-centered columns">
            <div class="profiles" ng-repeat="profile in profiles" ng-show="profile.removed">

                <div class="profile">
                    <i class="fa fa-user"></i><br />
                    {{profile.firstName}} {{profile.lastName}}
                </div>
                <div class="small-12">
                    <a class="tiny button" ng-click="restoreProfile()"><i class="fa fa-chevron-up"></i></a>
                    <a class="tiny button [secondary alert success]" ng-click="destroyProfile()"><i class="fa fa-trash-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
